<!--found-items.html-->
<div class="container">
    <span class="error">Nothing Found!</span>
    <ul>
        <li ng-repeat="item in foundItems" class="well">
            <div class="row">
                <div class="col-md-3"><b>{{item.name}}</b></div>
                <div class="col-md-1">{{item.short_name}}</div>
                <div class="col-md-6">{{item.description}}</div>
                <div class="col-md-2">
                    <button class="btn btn-sm btn-danger" ng-click="onRemove({index:$index})">
                        Don't want this one!
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>
